<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moilsurok.kmaster">

    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kmaster">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Kmaster2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PasswordChangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PasswordChangeMainActivity"
            android:launchMode="singleTop" />


        <activity
            android:name=".activity.NoticeDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.BookmarkActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EmailCheckActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NonNumActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.EmailCheckNonActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PhoneCheckNonActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.PhoneCheckActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.FirstActivity"
            android:exported="true"

            android:launchMode="singleTop">

        </activity>
        <activity
            android:name=".activity.SimplePasswordActivity"
            android:exported="true"
            android:launchMode="singleTop">

        </activity>
        <activity
            android:name=".activity.NonInquiryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AuthCheckActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AlbumActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AlbumDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.DateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ExplainGroupActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ScheduleDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsFirstActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsSecondActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsThirdActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsFourthActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsFifthActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsSixthActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.SimplePassword2Activity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AuthConfirmInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AuthorityActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AuthorityAgreeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AuthenticationInfoActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NoteProfileDetailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ExtraActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NoteActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NoteProfileChangeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.NoticeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ManageAuthenticationMethodsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.InquiryActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TermsActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.InquiryTextActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.InquiryContextActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.AlarmSettingActivity"
            android:launchMode="singleTop" />

        <service
            android:name=".FireBaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>